<div class="mx-5">
<%= link_to 'Back to List', root_path%>
<% if @user == current_user %>
  <h2>My profile</h2>
  <p><%= @user.first_name %> <%= @user.last_name %></p>

  <h2>My offers</h2>
    <% @user.books.each do |book| %>
    <ul>
    <li><%= link_to book.title, book_path(book) %>
    <p><%= book.author %></p></li>
    </ul>
    <% end %>
  <h2>My requests</h2>
  <% @user.bookings.each do |booking| %>
  <ul><li><%= link_to booking.book.title, book_path(booking.book) %>
         <p><%= booking.book.author %></p></li>
  </ul>
  <% end %>

<% else %>

<h2><%= @user.first_name %>'s profile</h2>
<p><%= @user.first_name %> <%= @user.last_name %></p>

  <h2><%= @user.first_name %>'s offers</h2>
    <% @user.books.each do |book| %>
    <ul>
    <li><%= book.title %></li>
    <p><%= book.condition %></p>
    <p><%= link_to "Request this book", new_book_booking_path(book) %></p>
    </ul>
  <% end %>

<% end %>
</div>
