<h3>Offer a book</h3>
  <%= simple_form_for @book do |f| %>
    <%= f.input :title, placeholder: 'title' %>
    <%= f.input :author, placeholder: 'author' %>
    <%= f.input :description, placeholder: 'description' %>
    <%= f.input :condition, collection: ['Poor', 'Used', 'Good', 'Brand New'],
     prompt: 'Select condition', input_html: { class: 'form-control' } %>
    <%= f.submit class: 'btn btn-primary' %>
<% end %>
