
<div class="container">
  <div class="my-3">
  <%= link_to 'Back to homepage', root_path%>
  </div>

  <h4><%= @book.title %></h4>
  <div class="book-detail">
    <div class="card-product_book">
      <div>
        <%= cl_image_tag @book.photo.key, height: 300, width: 400, crop: :fill %>
      </div>
      <div class="card-product_book_content my-3">
      <% if @book.status != "booked" %>
        <%= link_to "Request this book", new_book_booking_path(@book), class: "btn btn-flat" %>
      <% else %>
        <%= link_to "Request this book", "", class: "btn btn-flat" %>
      <% end %>
      </div>

    </div>
    <div>
      <h5><strong>Description:</strong> </h5>
      <p><%= @book.description %></p>
      <p><strong>Author:</strong> <%= @book.author %></p>
      <p><strong>Conditions:</strong> Good</p>
    </div>
  </div>

<div class="my-3">
      <h6>Reviews:</h6>
      <div class="reviews">
        <% @book.reviews.each do |review|%>
        <div class="card-review d-flex">
            <%= review.content %>
            <div>

              <%= cl_image_tag review.user.photo.key, class: "avatar", crop: :fill %>
              <%= link_to  review.user.first_name, dashboard_path, data: {turbo_method: :get} %>
            </div>
          </div>
        </>
        <% end %>
      </div>
  </div>

</div>

<h4><%= link_to  "Add a review to the book", new_book_review_path(@book) %>
