
<div class="container">
<div class="row justify-content-center">
<div class="col-6">
<h4>Log in</h4>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email", class: "custom-form-input" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password", class: "custom-form-input"} %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions button" >
    <%= f.button :submit, "Log in", class: "btn-flat" %>
      </div>
      <div class="link-text">
        <p>If you don't have an account yet, please
        <a href="URL" target="_blank" style="color: #E07A5F;">sign up</a>
        </p>
    <% end %>
      </div>
    </div>
  </div>
</div>
